<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= dog.name %></title>
  </head>
  <body>
   <% if (dog.isCute) { %>
    <p>That is a cute dog!</p>
<% } else { %>
    <p>That dog isn't cute??? Impossible</p>
   <% } %>
 
   <form action="/dogs/<%=dog._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= dog.name %></button>
  </form>
  <a href="/dogs/<%= dog._id %>/edit">Edit <%= dog.name %></a> 
  <a href="/dogs/">Back to dogs</a>
  </body>
</html>
